@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* form input autocomplete css */
input:-webkit-autofill+.icon{
    color:#6A6767!important;
    border-color: #6A6767!important;
}
