@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

input:-webkit-autofill+.icon{
    color:#6A6767!important;
    border-color: #6A6767!important;
}

/* #root{
    display: flex;
    flex-direction: column;
    height:100vh;
} */
